:root {
    --primary: #aed581;
    --p_light: #e1ffb1;
    --p_dark: #6b9b37;
    --secondary: #4fc3f7;
    --s_light: #8bf6ff;
    --s_dark: #0093c4;
    --error: #B00020;
}

html * {
    font-family: "Open Sans", sans-serif;
}

.fa {
    padding: 15px;
    margin: 0px 3px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa:visited {
    color:white;
}

.fa:hover {
    color:white;
}

input[type=radio]:disabled + label{
    text-decoration: line-through;
}

.form-check-input:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.form-check-input:focus {
  border-color: var(--secondary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(79, 195, 247, 0.5);
}

.btn-regular {
    color: #fff;
    background-color: var(--p_dark);
    border-color: var(--p_dark);
}
  .btn-regular:focus {
    box-shadow: 0 0 0 0.25rem rgba(107, 155, 55, 0.5);
}